*{
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
 

}


.logo{
    text-align: center;
    margin-top: 20px;
    
   
}


.linha {
  margin-right: auto ;
  margin-left: auto ;
  
max-width: 1000px;
}
#menu ul {
    
    
    text-align: center;
    top: 7px;
    position: relative;
    
}
#menu ul li {
    display: inline-block;
    padding: 8px;
    
    
    
}
#menu ul li a{
    color: rgb(43, 96, 145);
    text-decoration: none;
    font-weight: bolder;
}
.se{
display: block;
background: url(../img//agrvai.jpg);
background-size:  100% auto;
background-repeat: no-repeat;
background-attachment: local;

position: relative;
width: 100%;
height: 800px;
max-height: 400px;
max-width: auto;




  
}


.sobre-nos{
    background-color: #ff8932;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 600px;
    
  
    

}

@media (min-width:1300px){
    .se{
        display: block;
        background: url(../img//agrvai.jpg);
        background-size:  100% auto;
        background-repeat: no-repeat;
        background-attachment: local;
        
        position: relative;
        width: 100%;
        height: 800px;
        max-height: 600px;
        max-width: auto;
      
        
        
        
          
        }
}
@media (min-width:1600px)  {
    .se{
        display: block;
        background: url(../img//agrvai.jpg);
        background-size:  100% auto;
        background-repeat: no-repeat;
        background-attachment: local;
        
        position: relative;
        width: 100%;
        height: 800px;
        max-height: 740px;
        max-width: auto;
       object-fit: cover;
        
        
        
        
    }    
        }



 


.titulo-sobre-nos{
    top: 150px;
   text-align: center;
   position: relative;
   
}
.texto-sobre-nos{
    top: 300px;
    position: relative;
    text-align: center ;
    font-size: 160%;
    width: 80%;
    left: 10%;
    height: auto;
    font-weight: 500;
}
@media(max-width:500px){
    .limite{
        height: 800px;
        height: 100%;
    }
    .servicos {
        background: linear-gradient(rgba(42, 43, 104, 0.178),rgba(49, 50, 105, 0.521)),url(../img/munksfile-min.png);
        position: relative;
        
        background-position: -200px auto;
        background-repeat:no-repeat;
        
        
        background-size: 120% auto;
        background-attachment: fixed;
        width: 100%; 
        height: 400px;
       
    }
}

@media (min-width:500px){
    .limite{
        height: 800px;
        height: 100%;
    }
    .servicos {
        background: linear-gradient(rgba(42, 43, 104, 0.178),rgba(49, 50, 104, 0.521)),url(../img/grrandedms-min\ \(5\).png);
        position: relative;
        
        background-position: 0 center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 60vh;
        max-height: 300px;
    
        
    
    }
}
.titulo_servicos{
    text-align: center;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30pt;
}

.tipos_servico{
    display:flex;
    justify-content: space-around ;
    flex-wrap:wrap;
    padding: 40px;
    position: relative;
    
    
    
    
}.icamento{
   position: relative;
   padding: 20px;
   
    height: 600px;
    border-radius: 20px;
    margin-top: 80px;
    margin-right: 20px;
    
}
.titulos{
  text-align: center;
  color: #000000;
  font-size: small;
  margin-top: 40px;
 }
.transporte{
    position: relative;
    padding: 20px;
   
    height: 600px;
    border-radius: 20px;
    margin-top: 80px;
    margin-right: 20px;
}

.descarga{
    position: relative;
    padding: 20px;
    
    border-radius: 20px;
    height: 600px;
    margin-top: 80px;
    margin-right: 20px;
    
}
.ver_mais_serv{
    text-align: center !important;
    justify-content: center !important;
    width: 250px;
    
}
#titu-contato{
    position: relative;
    top: 40px;
    
}
.tipos-contato{
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    margin-top: 110px;
    padding: 100px;
}
.zap{
    position: relative;
    
    
    width: 200px;
    
}

.titu-zap{
    padding-top: 9px;
    font-size:25pt ;
}

.titu-tell a{
    color: white;
    text-decoration: none;
}
.titu-tell{
    padding: 9px;
    font-size: 25pt;
    
}
.tell{
    position: relative;
    font-size:23pt ;    
    
    
    width: 240px;
}
.titu-clientes{
    text-align: center;
    position: relative;
    top: 110px;
    text-shadow: #000000;

    
}
.clientes {
    position: relative;
    top:280px;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.final{
   
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #cacaca;
    top: 300px;
    border-top: 2px solid #000000;
    justify-content:space-between;
    
    display: flex;
}
.logo-final{
    position: relative;
    top: 130px;
    left: 120px;
    width: 100px;
}
.copyrith{
    position: relative;
    
    top: 140px;
    left: 120px;
    width: 400px;
    
}


.final-direita{

width: 600px;
right: 30px;


}

.final-menu{
    position: relative;
    top: 180px;
    right: 120px;
    width: 400px;
}

.contato-final{
    position: relative;
    top: 130px;
    display: inline-flex;
    justify-content: space-around;
    width: 200px;
}
.titu-serv{
position: relative;

text-align: center;
}
.video-guind{
    position: relative;
    text-align: center;
    top: 120px;
    
}
.titu-ser{
    position: relative;
    margin-top: 180px;
}
@media (min-width:1300px){
    .equipamentos{

        position: relative;
    background-image: linear-gradient(rgba(42, 43, 104, 0.178),rgba(49, 50, 104, 0.521)), url(../img/equip.jpg);
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    max-height: 500px;


    }
    .titu-equi  {
        text-align: center;
        position: relative;
        top: 240px;
        font-size: 70pt;
        color: #cacaca ;
        
        
    }
}


@media (max-width:1300px){
    .equipamentos{

        position: relative;
    background-image: linear-gradient(rgba(42, 43, 104, 0.178),rgba(49, 50, 104, 0.521)), url(../img/equip.jpg);
    background-position: 0 center;
    background-size:cover;
    background-repeat: no-repeat;
    
    height: 30vh;
    max-height: 450px;


    }
    .titu-equi  {
        text-align: center;
        position: relative;
        top: 200px;
        font-size:40pt;
        color: #cacaca ;
        
        
    }
    .limite{
        height: 800px;
        height: 100%;
    }
    .servicos {
        background: linear-gradient(rgba(42, 43, 104, 0.178),rgba(49, 50, 105, 0.521)),url(../img/munksfile-min.png);
        position: relative;
        
        background-position: center center;
        background-repeat:no-repeat;
        
        
        background-size: 120% auto;
        
        width: 100%; 
        height: 400px;
       
    }
    video-guind{
        position: relative;
        text-align: center;
        top: 120px;
        width: 1400px;
        height: auto;
        
    }
}
.contaainer{
    background-color: #ff8932;
    position: relative;
    text-align:center;
    padding:25px;
    
    color: white;
    width: 100%;
    height: 100px;
    
    




    
}
.ligue{
    display: inline-flex;
    justify-content: space-around ;
    position: relative;
    top: 400px;
    background-color: #ff8932;
    height: 500px;
    width: 100%;
}
.ligue-agr a{
    position: relative;
    top:180px;
    font-size: 40pt;
    font-weight: 800;
    color: white;
    right: 1000px;
    text-decoration:none;
}